<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="refresh">
    <title> Search Book Record</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'css/BRMstyle.css' %}">
  </head>
  <body>
    <div id="header">
      <h1>Book Record Management</h1>


      <div id="nav">
        <a href="BRMapp/view-books">View All</a>
            <a href="BRMapp/new-book">Add new </a>
                <a href="BRMapp/search-book">Search</a>
                  <a href="BRMapp/logout">Logout</a>


        </div>
        <h2 class="username"> Hello, {{username}} </h2>
          </div>

        <div id="main">
          <h2> Search Book Record </h2>
          <form  action="BRMapp/search" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit"  value="Search">
          </form>
          {% if books %}
          <table>
            <thead>
              <th> Book Title </th>
                <th> Price </th>
                  <th> Author </th>
                    <th> Publisher </th>

            </thead>




          {% endif %}
          {% for book in books%}
          <tr>
            <td>{{book.title}} </td>
              <td>{{book.price}} </td>
                <td> {{book.author}}</td>
                  <td>{{book.publisher}} </td>




            </tr>
            {% endfor %}
            </table>

        </div>



  </body>
</html>
