<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    <form action="register" method="post">
      {% csrf_token %}
    <input type="text" name="first_name" placeholder="First Name" required></br>
    <input type="text" name="last_name" placeholder="Last Name" required></br>
    <input type="text" name="username" placeholder="Username" required></br>
    <input type="email" name="email" placeholder="Email" required></br>
    <input type="password" name="password1" placeholder="Password" required></br>
    <input type="password" name="password2" placeholder="Confirm Password" required></br>
    <input type="submit">
    </form>

    <div>
      {% for message in messages %}
      <h3> {{message}} </h3>

      {% endfor %}

    </div>








  </body>
</html>
